<nav class="navbar navbar-expand-lg navbar-dark custom-navbar shadow-sm">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center  fw-bold" href="/">
 <div class="logo-icon me-2">
    <i class="bi bi-journal-bookmark-fill"></i>
 </div>
 <div>
    <span class="logo-text">
        NoteVerse
    </span>
    <div class="logo-subtitle">
        E-Learning
    </div>
</div>
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Left Links -->
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link <%= currentPath ==='/dashboard'? 'active-nav': '' %>" href="/dashboard">
                        <i class="bi bi-house-door me-1"></i>
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link <%= currentPath ==='/videos'? 'active-nav': '' %>" href="/videos">
                        <i class="bi bi-play-circle me-1"></i>
                        Videos
                    </a>
                </li>

                <li class="nav-item">
                    <% if( typeof currUser !=='undefined' && currUser ){ %>
                        <a class="nav-link <%= currentPath ==='/notes'? 'active-nav': '' %>" href="/notes">
                            <i class="bi bi-journal-text me-1"></i>
                             Browse Notes
                        </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link <%= currentPath ==='/notes/my-notes'? 'active-nav': '' %>" href="/notes/my-notes">
                        <i class="bi bi-folder2-open me-1"></i>
                        My Notes
                    </a>
                </li>

                <li class="nav-item">

                    <a class="nav-link <%= currentPath ==='/notes/upload'? 'active-nav': '' %>"  href="/notes/upload">
                       <i class="bi bi-cloud-upload me-1"></i>
                        Upload Notes
                    </a>
                    <% } %>
                </li>

                

            </ul>


<!-- Login/logout Dropdown -->
<ul class="navbar-nav align-items-center">


<% if(currUser){ %>

    <% if(currUser.role==="admin"){ %>

        <li class="nav-item me-3">

            <a class="btn btn-warning rounded-pill px-3"
               href="/admin/dashboard">

                Admin

            </a>

        </li>

    <% } %>

<!-- Notification bell +dark mode  -->
    <li class="nav-item me-3">

    <a href="#" class="nav-link position-relative">

        <i class="bi bi-bell-fill fs-5 text-white"></i>

        <span class="notification-dot"></span>

    </a>

</li>

<li class="nav-item me-3">

    <button class="btn theme-btn" onclick="toggleTheme()">

        <i class="bi bi-moon-stars-fill"></i>

    </button>

</li>
<!--  -->

    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle d-flex align-items-center"

           href="#"

           role="button"

           data-bs-toggle="dropdown">

            <div class="user-avatar me-2">

                <%= currUser.username.charAt(0).toUpperCase() %>

            </div>

            <span class="text-white">

                <%= currUser.username %>

            </span>

        </a>

        <ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-4">

            <li>

                <a class="dropdown-item" href="/dashboard">

                    🏠 Dashboard

                </a>

            </li>

            <li>

                <a class="dropdown-item" href="/notes/my-notes">

                    📄 My Notes

                </a>

            </li>

            <li>

                <a class="dropdown-item" href="/profile">

                    👤 Profile

                </a>

            </li>

            <li><hr class="dropdown-divider"></li>

            <li>

                <a class="dropdown-item text-danger"

                   href="/logout">

                    🚪 Logout

                </a>

            </li>

        </ul>

    </li>

<% } else { %>

<li class="nav-item">

<a href="/login"

class="btn btn-outline-light rounded-pill me-2">

Login

</a>

</li>

<li class="nav-item">

<a href="/register"

class="btn btn-primary rounded-pill">

Register

</a>

</li>

<% } %>

</ul>

        </div>
    </div>
</nav>
